.artist img {
    width: 300px;
    border-radius: 50%;
    display: block;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.artist p {
    color: rgba(0,0,0,0.38);
    font-size: 1.2rem;
    font-weight: bold;
}

.all-artist .all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
   
}

.all-artist h1 {
    text-align: left;
}


@media screen and (max-width: 1000px) {
    .all-artist .all {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 676px) {
    .all-artist .all {
        grid-template-columns: 1fr;
    }
    
}