@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  border-radius: 12px;
}

body {
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  color: #000;
  text-align: center;
}

section {
  margin-top: 70px;
}
